
span.date {
    color: #666;
    margin-right: 15px;
}

span.user {
    color: #101;
    margin-right: 15px;
    font-weight: bold;
}

span.message {
    color: #333;
}

#password, #login {
    font-size: 14px;
    padding: 6px 12px 8px;
    box-sizing: border-box;
    margin-bottom: 15px;
    width: 270px;
    height: 35px;
    border-radius: 3px;

}
#logform {
    width: 270px;
    background: #ffd5f7;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    border: solid;
    border-color: #006868;

}

.buttons {
    width: 270px;
    padding: 7px 16px 8px;
    margin: auto;
    font-size: 12.5px;
    display: block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    background: none;
    background-color: rgba(133, 255, 240, 0.34);
    color: #ff01c7;
    border-radius: 4px;
    border: 2px solid #006868;
    box-sizing: border-box;
    font-weight: bold;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.errors {
    color: red;
}

form {
    display: block;
    margin-top: 0em;

    margin-bottom: 0em;
}
#log {
    overflow: auto;
    width: 600px;
    border: 2px solid #006868;
    margin: auto;
    height: 200px;
}

#message {

    outline: 0;
    min-height: 36px;
    width: 550px;
    resize: none;
    padding-left: 0;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 3px;
    line-height: 17px;
    padding: 9px 72px 10px 11px;
    margin-bottom: 0;
    word-wrap: break-word;
    box-sizing: border-box;
    border: none;
    -o-transition: border-bottom-color 0.3s linear;
    transition: border-bottom-color 0.3s linear;
    -webkit-font-smoothing: subpixel-antialiased;
    display:inline-block;

}

#msg {

    cursor: text;

    background: #fff;
    border-radius: 3px;
    border: solid 1px #d3d9de;
    width: 600px;
    margin: auto;

}
#send{
    display: inline-block;
    height: 40px;
    width: 40px;
    padding: 0px;
    align: left;
    background-image: url(send_thumb.png);
    cursor: pointer;

}
