/*#chatlog {*/
    /*width: 1000px;*/
    /*height: 500px;*/
    /*margin: auto;*/
    /*display: block;*/
/*}*/
/*#messagelog {*/
    /*width: 1000px;*/
    /*height: 500px;*/
    /*margin: auto;*/
    /*display: block;*/
/*}*/

/*#msg {*/
    /*width: inherit;*/
/*}*/
/*#sendButton1 {*/
    /*width: 50px;*/
/*}*/
/*#chat {*/
    /*display: none;*/
/*}*/

span.date {
    color: #666;
    margin-right: 15px;
}

span.user {
    color: #101;
    margin-right: 15px;
}

span.message {
    color: #333;
}